{% extends 'oganik/layouts/base.html' %}

{% block content %}
<div class="container">
  <center>
    <h2>{{ recipe.name }}</h2>
  </center>

  <hr/>

  <table class="table table-responsive">
    <tr>
      <th>Картинка</th>
      <th>Время готовки</th>
      <th>Ингредиенты</th>
      <th>Рецепт</th>

    </tr>

    <tr>
      <td><img src="{{ recipe.image.url }}" class="card-img" style="max-width: 100"></td>
      <td>{{ recipe.cooking_time }}</td>
      <td>
        {% for position in recipe.positions.all %}
          {{ position.ingredient }} - {{ position.quantity }} {{ position.ingredient.units }}<br>
        {% endfor %}
      </td>
    <td>{{ recipe.recipe }}</td>
    </tr>

</div>
{% endblock %}