{% extends "oganik/layouts/base.html" %}
{% load static %}
{% block title %}Создайте профиль{% endblock %}
{% block content %}
<section class="contact-one">
    <img src="{% static 'oganik/assets/images/shapes/contact-bg-1-1.png' %}" alt="" class="contact-one__shape-1">
    <img src="{% static 'oganik/assets/images/shapes/contact-bg-1-2.png' %}" alt="" class="contact-one__shape-2">
    <div class="container">
        <div class="block-title text-center">
            <div class="block-title__decor"></div><!-- /.block-title__decor -->
            <h3>Спасибо за регистрацию!</h3>
        </div>
         <p>Ваш аккаунт был успешно создан. Теперь вы можете <a href="{% url 'login' %}">Войти</a>.</p>
    </div>
</section>
{% endblock %}