{% extends 'oganik/layouts/base.html' %}

{% block content %}

{% for date, daily_serving in meals.items %}
<div class="container">
<div class="row justify-content-start">
  <div class="col-3"><p class="h2">{{ date }}</p></div>
</div>
<div class="row">
  {% for dish in daily_serving.values %}
  <div class="item p-2 m-2 col">
    <a href="{% url 'recipe' dish.id %}">
    <img src="{{dish.image.url}}"  class="card-img" style="max-width: 300px;" alt="блюдо">
    {% comment %}<p class="h6">{{daily_serving}}</p>{% endcomment %}
    <p class=" h4 p-1">{{dish.dish}}</p>
    </a>
  </div>
  {% endfor %}
</div>
</div>
{% endfor %}

{% endblock %}