{% extends './layouts/base.html' %}

{% block content %}
    {% comment %}
         TODO: Сделать корректную главную страницу с: 
            Определением, залогинен человек или нет,
            кнопками регистрации
    {% endcomment %}
    <div class="element">
        {% if has_meals %}
        <p class="title">Вы уже спланировали обед на эту неделю! Вы можете посмотреть <a href="{% url 'week_menu' %}">меню на неделю</a></p>
        {% else %}
        <p class="title">Кажется, у вас нет плана еды на неделю! Нажмите на кнопку "Создать", чтобы мы подобрали вам меню на неделю!</p>
        <a href="{% url 'generate_menu' %}"><button class="btn btn-success">Создать</button></a>
        {% endif %}
    </div>

{% endblock %}