{% extends './layouts/base.html' %}

{% block content %}
<div class="container">
{% for date, daily_serving in meals.items %}
  {{date}}
  <table class="table">
    <thead>
      <tr>
      {% for meal_type in daily_serving %}
        <th scope="col">{{meal_type}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for meal in daily_serving.values %}
          {% for position in meal.meal_positions.all %}
            <td><a href="{% url 'recipe' position.dish.id %}">{{position.dish}}</a></td>
            <td><img src="{{position.dish.image.url}}" class="card-img" style="max-width: 54px;"></td>
          {% endfor %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endfor %}
</div>
{% endblock %}