{% extends './layouts/base.html' %}

{% block content %}
<div class="container">
{% for date, daily_serving in meals.items %}
  {{date}}
  <table class="table">
    <thead>
      <tr>
      {% for meal_type in daily_serving %}
        <th scope="col">{{meal_type}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for dish in daily_serving.values %}
            <td><a href="{% url 'recipe' dish.id %}">{{dish.dish}}</a></td>
            <td><img src="{{dish.image.url}}" class="card-img" style="max-width: 54px;"></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endfor %}
</div>

<form action="/calculator/" method="post">
  {% csrf_token %}
    <label for="days">Введите количество дней, чтобы расчитать общее число покупок</label>
    <input id="days" type="text" name="days" value="{{ days_to_calculate }}">
    <input type="submit" value="OK">
</form>
{% endblock %}