.element {
    background-color: #eff6df;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: black solid 1px;
    margin: 10px auto;
    padding: 20px 10px;
    text-align: center;
}
.element button{
    margin: auto;
}
.title{
    font-size: large;
}
.card-img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
}
html, body {
    min-height: 100% !important;
    height: 100%;
}