.element {
    background-color: #eff6df;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: black solid 1px;
    margin: 10px auto;
    padding: 20px 10px;
    text-align: center;
}
.element button{
    margin: auto;
}
.title{
    font-size: large;
}
.item img {
    max-width: 100%;
    height: auto;
}